@import '~startbootstrap-sb-admin-2/css/sb-admin-2.min.css';
@import '~startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.css';

.bg-login-image {
    background: url(https://vignette.wikia.nocookie.net/warhammer40k/images/f/f5/Guilliman_Saviour.jpeg/revision/latest?cb=20170316203623);
    background-position: center;
    background-size: cover;
}
